---
import Footer from '../components/Footer.svelte';
---

<!DOCTYPE html>
<html lang="en">

	<head>
		<title>AngelNext</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<link rel="manifest" href="/manifest.webmanifest">
		<script src="../index.ts"></script>
	</head>

	<body class="bg-gray-900 text-white">
		<slot />
		<Footer client:load />
	</body>

</html>

<style>
	@font-face {
		font-family: 'Splash';
		font-display: swap;
		src:
			url('/fonts/Splash-Regular.woff2') format('woff2'),
			url('/fonts/Splash-Regular.woff') format('woff');
	}

	::-webkit-scrollbar {
		width: 17px;
		height: 17px;
	}

	::-webkit-scrollbar-track {
		background: #111827;
		box-shadow: inset 0 0 10px 10px transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 15px;
		box-shadow: inset 0 0 10px 10px #666;
		border: solid 4px transparent;
	}

	::-webkit-scrollbar-thumb:hover {
		box-shadow: inset 0 0 10px 10px #555;
	}

	::-webkit-scrollbar-thumb:active {
		box-shadow: inset 0 0 10px 10px #333;
	}
</style>